<div class="center">
  <form [formGroup]="dataForm">
    <div>
      <h3>No space allow start and ending</h3>
      <input formControlName="input" appInputTextNumber [noWhiteSpace]="true">
      <div>Value From FormControl: {{this.dataForm.get('input')?.value}}</div>
    </div>
    <div>
      <h3>No space allow middle </h3>
      <input formControlName="input2" appInputTextNumber [noWhiteSpace]="true" [noSpaceInMiddle]="true">
      <div>Value From FormControl: {{this.dataForm.get('input2')?.value}}</div>
    </div>
  </form>
</div>